/** 
  SCSS 작성 컨벤션
  @version 0.0.1
  @date 25.01.20

  - @apply를 통한 tailwind를 주로 사용
  - 만약 다크모드를 사용할 시 다음과 같은 위계를 가지고 scss 구문 작성
    1. 다크모드를 제외한 css
    2. 라이트모드 css
    3. 다크모드(prefix - dark:) css 
*/

// VARIABLE
$bg-point: bg-blue-400;
$text-point: text-blue-400;

$text-primary-light: text-gray-600;
$text-highlight-secondary-light: text-gray-700;

$text-primary-dark: text-gray-400;
$text-highlight-secondary-dark: text-gray-200;

// $dark-text-color-default: theme("colors.gray.300");

$font-default-stack: "Pretendard", sans-serif;
$font-code-stack: "JetBrains Mono", monospace;

body {
  font-family: $font-default-stack;
  @apply bg-slate-50;
  @apply dark:bg-slate-800;
  @apply transition-all duration-500;
}

/** 
  TOC 디자인 영역
*/
#toc {
  @apply fixed top-24 right-4 pl-5 text-gray-300 border-l border-gray-200;
  @apply dark:text-gray-600 dark:border-gray-500;

  li {
    @apply my-1 ml-2;
  }

  .current-toc {
    p,
    > a {
      @apply font-bold text-gray-800 transition-all duration-500;
      @apply dark:text-gray-300;
    }
  }
}

/** 
 본문 텍스트 및 헤더 디자인 영역
*/
#post {
  p {
    @apply leading-relaxed;
    @apply #{$text-primary-light};
    @apply dark:#{$text-primary-dark};
  }

  h1,
  h2,
  h3 {
    @apply font-extrabold;
    @apply #{$text-highlight-secondary-light};
    @apply dark:fill-gray-400 dark:#{$text-highlight-secondary-dark};
  }

  h1 {
    @apply text-3xl my-8;
  }

  h2 {
    @apply text-2xl my-5;
  }

  h3 {
    @apply text-xl my-4;
  }

  h4,
  h5,
  h6 {
    @apply font-semibold;
    @apply text-gray-200;
  }
}

/** 
  리스트 디자인
*/
#post {
  ol:not(.contains-task-list) {
    @apply pl-8 list-decimal;
  }

  ul:not(.contains-task-list) {
    @apply pl-5 list-disc;
  }

  li {
    @apply my-4;
    @apply dark:#{$text-primary-dark};

    &::marker {
      @apply #{$text-point};
    }
  }
}

/** 
  인용문 디자인
*/
#post {
  blockquote {
    @apply my-7 relative p-5 bg-gray-100 text-gray-500 rounded;
    @apply dark:bg-gray-600 dark:text-gray-300;

    p {
      @apply text-gray-500;
      @apply dark:text-gray-300;
    }

    &::after {
      font-family: Georgia;
      content: "\201C";
      @apply text-6xl absolute top-0 left-2 text-gray-300;
      @apply dark:text-gray-500;
    }
  }
}

/** 
  알림 블록들 디자인
*/

$highlight-accent: theme("colors.blue.500");
$highlight-success: theme("colors.green.500");
$highlight-complete: theme("colors.purple.500");
$highlight-warning: theme("colors.yellow.500");
$highlight-danger: theme("colors.red.500");

#post {
  .notice_block {
    // color: $text-color-disabled;
    @apply bg-slate-200 text-gray-500 my-4 py-3 px-4;
    @apply dark:bg-slate-700 dark:text-gray-300;

    svg {
      @apply w-4 my-auto mr-1.5;
    }

    .notice_title {
      display: flex;
      margin: 0 0 0.5rem 0;
    }
  }

  @mixin notice-style($color, $border-color) {
    .notice_title {
      color: $color;
    }
    border-left: solid 4px $border-color;
  }

  .notice_note {
    @include notice-style($highlight-accent, $highlight-accent);
  }

  .notice_tip {
    @include notice-style($highlight-success, $highlight-success);
  }

  .notice_important {
    @include notice-style($highlight-complete, $highlight-complete);
  }

  .notice_warning {
    @include notice-style($highlight-warning, $highlight-warning);
  }

  .notice_caution {
    @include notice-style($highlight-danger, $highlight-danger);
  }
}

/** 
  링크 디자인
*/
#post {
  a {
    @apply no-underline transition-all duration-300 #{$text-point};

    &:hover {
      @apply text-red-500 underline;
    }
  }
}

/** 
  Latex 문법 디자인
*/
#post {
  .katex {
    @apply dark:text-white;
  }

  .katex .katex-html {
    display: none;
  }
}

/** 
  테이블 디자인
*/
#post {
  table {
    @apply w-4/5 mx-auto border-collapse text-gray-500;

    th {
      @apply text-gray-700;
      @apply dark:#{$text-highlight-secondary-dark};
    }

    th,
    td {
      @apply border p-2 text-left border-gray-300;
    }
  }
}

/** 
  테스크 박스 디자인
*/
#post {
  .contains-task-list {
    input {
      @apply appearance-none w-4 h-4 rounded border border-gray-500 bg-white cursor-pointer relative outline-none transition-all duration-300 mr-2;

      &:checked {
        @apply border-none #{$bg-point};

        &::after {
          content: "✓";
          @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white;
        }
      }
    }

    li {
      @apply flex items-center text-gray-800;
      @apply dark:text-gray-400;
    }
  }

  .footnotes {
    @apply mt-12;
  }
}

/** 
  코드 블럭 디자인
*/
pre {
  margin: 0;
}
#post {
  pre.shiki-header {
    @apply text-gray-100 bg-gray-800 border border-b-0 border-gray-500 rounded-t-lg py-2 px-5 flex items-center justify-start mt-5;
    @apply w-[calc(100vw-7.5rem)] max-w-[700px];
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: pre;
    font-family: $font-default-stack;
    .dev-icon {
      @apply w-5 mr-3;
    }
  }

  pre.shiki {
    @apply rounded-b-lg py-3 px-4 border border-gray-500 bg-gray-900 relative font-mono mb-8;
    @apply w-[calc(100vw-7.5rem)] max-w-[700px];
    overflow-x: scroll;

    font-family: $font-code-stack;

    code {
      counter-reset: step;
      counter-increment: step 0;
      line-height: 1.6;
    }

    .line {
      &.diff,
      &.highlighted {
        @apply absolute left-0 w-full;
      }
      &.diff.add {
        background-color: rgba(76, 175, 80, 0.1);
      }

      &.diff.remove {
        background-color: rgba(244, 67, 54, 0.1);
      }

      &.highlighted {
        background-color: rgba(52, 152, 219, 0.1);
      }
    }
  }

  /* 전체 스크롤바 */
  ::-webkit-scrollbar {
    width: 7px;
    height: 10px;
  }

  /* 스크롤바 트랙 (배경) */
  ::-webkit-scrollbar-track {
    border: solid 1px #888;
    background: #282c34;
    border-radius: 10px;
    margin-bottom: 5px;
  }

  /* 스크롤바 핸들 (움직이는 부분) */
  ::-webkit-scrollbar-thumb {
    background: #282828;
    border-radius: 10px;
    border: solid 1px #888;
  }
}

#post {
  pre.shiki code .line.highlighted::before,
  pre.shiki code .line.diff.add::before,
  pre.shiki code .line.diff.remove::before {
    @apply ml-4;
  }

  pre.shiki code .line::before {
    content: counter(step);
    counter-increment: step;
    @apply text-right w-6 mr-6 inline-block #{$text-primary-light};
  }
}

#post {
  code:not(pre.shiki code) {
    @apply py-1 px-2 rounded-xl;
    @apply bg-red-100 text-red-500;
    @apply dark:bg-green-500 dark:text-green-100;
  }
}
